<link rel="stylesheet" href="https://partyongarthhammonds.com/css/main.css">

body {
    background-color: rgb(22, 22, 22);
}

h1 {
color: rgb(240, 9, 9);
text-align: center;
size: 35;
}

p {
    color: rgb(162, 216, 216);
    text-align: center;
    size: 35;
}

div {
    color: rgb(222, 238, 238);
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    height: 50;
}




